doctype html
html
  head
    include includes/head
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
    script.
      var myApp = angular.module('mayOne',[]);

      function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
           x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
      }

      myApp.controller('IndexController',
                       ['$scope', '$http', function($scope, $http) {

        // javascript is so awesome. this is how you write June 1st. Cause June is the
        // 5th month, indexed by zero. thanks javascript!
        var date_its_over = Date.UTC(2014,05,01,10,00,00,00);
        var days_left = Math.floor((date_its_over - Date.now())/(1000*24*60*60));
        var days_left_message = '' + days_left + ' days left';
        if (days_left == 1) {
          days_left_message = '' + days_left + ' day left';
        }

        $scope.ctrl = {
          daysLeftMsg: days_left_message,
          totalCents: 0,
          init: function() {
            $http.get('/total').success(function(data) {
              $scope.ctrl.totalCents = parseInt(data);
            });
          },
          moneyString: function() {
            return '$' + addCommas(Math.floor($scope.ctrl.totalCents / 100));
          },
          percent: function() {
            // Times 100 divided by 100
            return Math.floor($scope.ctrl.totalCents / 1000000);
          }
        };
      }]);

  body(ng-app="mayOne", ng-controller="IndexController",ng-init="ctrl.init()")#index
    include includes/header
    #primary
      #images
        img.active(src="/static/12-bridge.jpg")
        img(src="/static/05-midwest.jpg")
        img(src="/static/06-cement.jpg")
        img(src="/static/07-arizona.jpg")
        img(src="/static/02-decay1.jpg")
        img(src="/static/11-goldengate.jpg")
      script.
        window.mayOneSelectedImg = 0;
        window.setInterval(function() {
          var imgs = document.getElementById("images");
          imgs.children[window.mayOneSelectedImg].className = "";
          window.mayOneSelectedImg = (window.mayOneSelectedImg + 1) % 6;
          imgs.children[window.mayOneSelectedImg].className = "active";
        }, 3000);
      .overlay
        .slogan Help <span class="u">U</span>.<span class="s">S</span>. kickstart fundamental reform.
        .progress.progress-lg.progress-striped.active(ng-show="ctrl.totalCents != 0")
          .progress-bar.progress-bar-danger(role="progressbar",
            aria-valuenow="ctrl.percent()",
            aria-valuemin="0", aria-valuemax="100",
            ng-style="{width: ctrl.percent() + '%'}")
            span {{ctrl.moneyString()}}
        .days-left {{ctrl.daysLeftMsg}}
        include includes/pledge
        .share-row
          .share
            span.text Spread the Word:
            span.buttons
              a(ng-href="https://twitter.com/intent/tweet?text=Only+{{ctrl.daysLeftMsg}}+to+support+MayOne.us%3A+Mayday+for+the+Republic+https%3A%2F%2Fmayone.us",
                target="_blank")
                span.entypo-social.twitter
              a(href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.mayone.us%2F", target="_blank", onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.mayone.us%2F','','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;")
                span.entypo-social.facebook
              a(ng-href="https://plus.google.com/share?url=https://mayone.us/campaigns/may-one/&comment=Only+{{ctrl.daysLeftMsg}}+to+support+MayOne.us%3A+Mayday+for+the+Republic+https%3A%2F%2Fmayone.us%2Fcampaigns%2Fmay-one%2F", target="_blank")
                span.entypo-social.gplus
              // a.fancybox(href="#share-widget", target="_blank")
              // span.entypo.code

    section#moonshot
      .container
        h3 "...a moonshot."
        .video
          <iframe src="//player.vimeo.com/video/93299391" width="900" height="506" frameborder="0" title="Mayday PAC Launch" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        p You can also <a href="https://www.youtube.com/watch?v=qCcqkyRJl7M">view the video here</a>
        include includes/pledge

    section#idea
      .container
        h3 the Idea
        .text
          p Government has failed us. More than 90% of Americans link that failure to the influence of money in politics.
          p Yet the politicians ignore this influence. While America flounders, they spend endless time with their funders.
          p These funders hold our democracy hostage. <u>We want to pay the ransom, and get it back.</u>
          p.strong We're going to kickstart a SuperPAC big enough to make it possible to win a Congress committed to fundamental reform by 2016.

          p Or at least we're going to try.

        include includes/pledge

    section#kickstart
      .container
        h3 to "kickstart"
        .text
          p This Citizens' SuperPAC will be funded through a series of contingent pledges:
          p.indented We will set funding goals.
          p.indented We will only collect if we hit our goals.
          p The idea is simple: Unless there's enough to make a difference, you don't pay.
        include includes/pledge

    section#s2014
      .container
        h3 2014
        .text
          p In 2014, we want to make fundamental reform the issue in 5 congressional races.
          p From that, we'll have a better sense of what victory in 2016 will take. And we'll put Congress on notice that in 2016, we'll be back.
          p So for 2014, we have two fundraising targets:
          p.indented.strong The first is $1 million by the end of May. If we meet that goal, that $1 million will be matched, and we'll move to the second target.
          p.indented.strong That second target is $5 million by the end of June. If we meet that goal, that $5 million will also be matched, and our fundraising for 2014 will end.
          p We will then have the funds we need to hire the best campaign shops we can to use 100% of these kickstarted funds to win in these 5 districts.
        include includes/pledge

    section#s2016
      .container
        h3 2016
        .text
          p Over the past year, we have been calculating what it would cost to win a Congress committed to fundamental reform by 2016. We have a good sense of the range, and of which seats would need to change.

          p Our experience in 2014 will give us a better sense. And based on what we learn, we will decide whether this moonshot is feasible.

          p If it is, in January 2015, we will launch the second round of the Mayday PAC, crowdfunding small-dollar contributions again from citizens up, and larger contributions from wealthy citizens down.

          p Based on what we know now, we believe this <a href="http://billmoyers.com/2014/04/25/lawrence-lessig-has-a-moonshot-plan-to-halt-our-slide-toward-plutocracy/">moonshot</a> is possible. Based on what we achieve in 2014, others will believe it as well.

    section#mayday
      .container
        h3 MAYDAY.
        .text
          p Will you answer the call?

          p Please pledge if you can.

          p Please share this site with everyone you can.

          p And please know this:

          p
            b We still have the power to fix our democracy.

          p We will, if you help.
        include includes/pledge
    include includes/footer
