doctype html
html
  head
    include includes/head
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
    script.
      ga('require', 'ecommerce', 'ecommerce.js');
    script.
      var myApp = angular.module('mayOne',[]);

      myApp.controller('PledgeController',
                       ['$scope', '$http', function($scope, $http) {
        $scope.ctrl = {
          stripeHandler: null,

          amount: 0,
          userinfo: {
            firstName: '',
            lastName: '',
            email: '',
            phone: '',
            occupation: '',
            employer: '',
            target: 'Whatever Helps',
            subscribe: true,
          },
          error: '',
          cents: function() {
            return Math.floor($scope.ctrl.amount * 100);
          },
          pledge: function() {
            var cents = $scope.ctrl.cents();
            $scope.ctrl.stripeHandler.open({
              email: $scope.ctrl.userinfo.email,
              amount: cents,
            });
          },
          onTokenRecv: function(token, args) {
            $http.post('/pledge.do', {
                // TODO(hjfreyer): Remove redundant fields.
                email: token.email,
                name: args.billing_name,

                token: token.id,
                amount: $scope.ctrl.cents(),
                userinfo: $scope.ctrl.userinfo,
            }).success(function(data) {
              ga('ecommerce:addTransaction', {
                id: data.id,
                revenue: $scope.ctrl.cents() / 100.0,
              });
              ga('ecommerce:send');
              location.href = '/thankyou';
            }).error(function() {
              $scope.ctrl.error =
                'Oops, something went wrong. Try again in a few minutes';
            })
          },
        };

        $http.get('/stripe_public_key').success(function(key) {
          $scope.ctrl.stripeHandler = StripeCheckout.configure({
            key: key,
            name: 'MayOne.US',
            panelLabel: 'Pledge',
            billingAddress: true,
            image: '/static/flag.jpg',
            token: function(token, args) {
              $scope.ctrl.onTokenRecv(token, args);
            }
          });
        });
      }]);

  body#pledge(ng-app="mayOne", ng-controller="PledgeController")
    include includes/header
    script(src="https://checkout.stripe.com/checkout.js")
    .container
      .row
        .page-header
          h1 Pledge Your Support
      .butterbar.row(ng-show="ctrl.error")
        .alert.alert-danger {{ctrl.error}}
      #content.row
        .col-md-8
          .row
            .col-md-12
              h2 Two ways to give

              h3 Pledge
              p.
                We are running an all or nothing campaign. If we don’t meet our
                targets, you don’t get charged. That way, you know that you will
                only be charged if there’s enough money collected to make a
                difference. So if we fail to meet our goal of $1M by June 1st
                for the first round, or $5M by July 1st for the second round,
                your pledge will not be collected, and your card will not be
                charged.

              p Use this form to pledge.

              form(role="form", method="POST", ng-submit="ctrl.pledge()")
                .form-group.col-sm-6
                  label.control-label First Name
                  input.form-control.input-lg(type="text", required,
                    placeholder="Mary", ng-model="ctrl.userinfo.firstName")
                .form-group.col-sm-6
                  label.control-label Last Name
                  input.form-control.input-lg(type="text", required,
                    placeholder="Smith", ng-model="ctrl.userinfo.lastName")

                .form-group.col-sm-6
                  label.control-label Email
                  input.form-control.input-lg(type="email", required,
                    placeholder="smith@example.com", ng-model="ctrl.userinfo.email")
                .form-group.col-sm-6
                  label.control-label Phone Number <span class="label label-default">Optional</span>
                  input.form-control.input-lg(type="tel",
                    placeholder="(212) 867-5309", ng-model="ctrl.userinfo.phone")

                .form-group.col-sm-6
                  label.control-label Occupation
                  input.form-control.input-lg(type="text", required,
                    placeholder="Gardener, Railroad Worker, etc",
                    ng-model="ctrl.userinfo.occupation")
                .form-group.col-sm-6
                  label.control-label Employer
                  input.form-control.input-lg(type="text", required,
                    placeholder="Nintendo, UPS, Self, etc",
                    ng-model="ctrl.userinfo.employer")

                .form-group.col-sm-6
                  label.control-label Who to Fund?
                  select.form-control.input-lg(ng-model="ctrl.userinfo.target")
                    option Whatever Helps
                    option Democrats Only
                    option Republicans Only
                .form-group.col-sm-6
                  label.control-label How Much to Fund?
                  .input-group.input-group-lg
                    span.input-group-addon $
                    input.form-control(type="number", required, min="1",
                      ng-model="ctrl.amount")

                .form-group.col-sm-9
                  .checkbox
                    label <input type="checkbox" ng-model="ctrl.userinfo.subscribe"> Want to know how we're using the money? Sign up for emails from us.
                .form-group.col-sm-3
                  button.form-control.input-lg.btn.btn-lg.btn-danger Pledge
          .row
            .col-md-12
              h3 Donate Directly
              p.
                Some supporters may prefer to donate.  Donations are
                collected <em>immediately</em>, whether or not we
                successfully meet our goal. We use a 3rd party
                service, Democracy.com, to collect those donations.
                Donations <em>do</em> add to the pledge total for the
                purposes of finding out whether we have met our
                all-or-nothing pledge goals, though they will not show
                up on the progress bar immediately.
              p Click this big friendly button to donate directly.
              a(href="http://democracy.com/MayOne/donate.aspx#form",
                onClick="ga('send', 'event', 'button', 'click', 'donateDirectly')")
                img(src="//mayone.us/wp-content/uploads/2014/05/donatebutton2-1.jpg")

              h3 Other methods of payment
              p.
                If you wish to <a
                href="https://mayone.us/faq/#check">pledge by
                check</A>, we have instructions on the <a
                href="https://mayone.us/faq/#check">FAQ page</A>.

              p.
                Some users have expressed an interest in using PayPal,
                and we are currently working on building that
                infrastructure.  Stay tuned.

        #rules.col-md-4
          h2 Contribution Rules:

          p In order to contribute, all of the following statements must be true:
          ul
            li I am a United States citizen or a permanent resident alien.
            li This contribution is made from my own funds, and funds are not being provided to me by another person or entity for the purpose of making this contribution.
            li I am making this contribution with my own personal credit card and not with a corporate or business credit card or a card issued to another person.
            li I am at least eighteen years old.
            li I am not a foreign national, federal contractor, national bank, or corporation chartered by an act of Congress
          p MayDay PAC must use its best efforts to obtain and report the name, address, occupation, and employer of individual contributors.
          p Contributions are not tax deductible.
          p <a href="//mayone.us/privacy">Our Privacy Policy</a>
      .row.spacing
    include includes/footer
