doctype html
html
  head
    include includes/head
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
    script.
      var myApp = angular.module('mayOne',[]);

      myApp.controller('PledgeController',
                       ['$scope', '$http', '$location', function($scope, $http, $location) {
        $scope.ctrl = {
          stripeHandler: null,

          amount: 0,
          userinfo: {
            occupation: '',
            employer: '',
            phone: '',
            target: 'Whatever Helps',
          },
          error: '',
          cents: function() {
            return Math.floor($scope.ctrl.amount * 100);
          },
          pledge: function() {
            var cents = $scope.ctrl.cents();
            $scope.ctrl.stripeHandler.open({
              name: 'MayOne.US',
              description: 'Pledging $' + (cents / 100),
              amount: cents,
            });
          },
          onTokenRecv: function(token, args) {
            var url_parameters = $location.search();
            var team_name = '';
            if ('t' in url_parameters) {
                team_name = url_parameters['t'];
            }

            $http.post('/pledge.do', {
                email: token.email,
                token: token.id,
                amount: $scope.ctrl.cents(),
                userinfo: $scope.ctrl.userinfo,
                name: args.billing_name,
                team: team_name,
            }).success(function() {
              location.href = '/thankyou';
            }).error(function() {
              $scope.ctrl.error =
                'Oops, something went wrong. Try again in a few minutes';
            })
          },
        };

        $http.get('/stripe_public_key').success(function(key) {
          $scope.ctrl.stripeHandler = StripeCheckout.configure({
            key: key,
            billingAddress: true,
            image: '/static/flag.jpg',
            token: function(token, args) {
              $scope.ctrl.onTokenRecv(token, args);
            }
          });
        });
      }]);

  body#pledge(ng-app="mayOne", ng-controller="PledgeController")
    include includes/header
    script(src="https://checkout.stripe.com/checkout.js")
    .container
      .row
        .page-header
          h1 Pledge Your Support
      .butterbar.row(ng-show="ctrl.error")
        .alert.alert-danger {{ctrl.error}}
      #content.row
        .col-md-8
          .row
            h2.col-md-12 Two ways to give
            form(ng-submit="ctrl.pledge()").col-md-12
              h3 Pledge
              .row
                .col-md-12
                  p.
                    We are running an all or nothing campaign. If we
                    don’t meet our targets, you don’t get
                    charged. That way, you know that you will only be
                    charged if there’s enough money collected to make
                    a difference. So if we fail to meet our goal of
                    $1M by June 1st for the first round, or $5M by
                    July 1st for the second round, your pledge will
                    not be collected, and your card will not be
                    charged.
                  p Use this form to pledge.
              .row
                .col-md-12
                  label Occupation
                  .input-group.input-group-lg
                    input.form-control(type="text", required,
                      placeholder="Gardener, Railroad Worker, etc",
                      ng-model="ctrl.userinfo.occupation")
              .row
                .col-md-12
                  label Employer
                  .input-group.input-group-lg
                    input.form-control(type="text", required,
                      placeholder="Nintendo, UPS, Self, etc"
                      ng-model="ctrl.userinfo.employer")
              .row
                .col-md-6
                  label Phone Number (optional)
                  .input-group.input-group-lg
                    input.form-control(type="tel",
                      placeholder="(212) 867-5309"
                      ng-model="ctrl.userinfo.phone")
                .col-md-6
                  label Who to Fund?
                  .input-group.input-group-lg
                    select.form-control(ng-model="ctrl.userinfo.target")
                      option Whatever Helps
                      option Democrats Only
                      option Republicans Only
              .row
                .col-md-12
                  label Amount
                  .input-group.input-group-lg
                    span.input-group-addon $
                    input.form-control(type="number", required, min="1",
                      ng-model="ctrl.amount")
                    span.input-group-btn
                      button.btn.btn-danger(type="submit") Pledge

            .col-md-12
              h3 Donate Directly
              p.
                Some supporters may prefer to donate.  Donations are
                collected <em>immediately</em>, whether or not we
                successfully meet our goal. We use a 3rd party
                service, Democracy.com, to collect those donations.
                Donations <em>do</em> add to the pledge total for the
                purposes of finding out whether we have met our
                all-or-nothing pledge goals, though they will not show
                up on the progress bar immediately.
              p Click this big friendly button to donate directly.
              a(href="http://democracy.com/MayOne/donate.aspx#form",
                onClick="ga('send', 'event', 'button', 'click', 'donateDirectly')")
                img(src="//mayone.us/wp-content/uploads/2014/05/donatebutton2-1.jpg")

              h3 Other methods of payment
              p.
                If you wish to <a
                href="https://mayone.us/faq/#check">pledge by
                check</A>, we have instructions on the <a
                href="https://mayone.us/faq/#check">FAQ page</A>.

              p.
                Some users have expressed an interest in using PayPal,
                and we are currently working on building that
                infrastructure.  Stay tuned.

        #rules.col-md-4
          h2 Contribution Rules:

          p In order to contribute, all of the following statements must be true:
          ul
            li I am a United States citizen or a permanent resident alien.
            li This contribution is made from my own funds, and funds are not being provided to me by another person or entity for the purpose of making this contribution.
            li I am making this contribution with my own personal credit card and not with a corporate or business credit card or a card issued to another person.
            li I am at least eighteen years old.
            li I am not a foreign national, federal contractor, national bank, or corporation chartered by an act of Congress
          p MayDay PAC must use its best efforts to obtain and report the name, address, occupation, and employer of individual contributors.
          p Contributions are not tax deductible.
          p <a href="//mayone.us/privacy">Our Privacy Policy</a>
      .row.spacing
    include includes/footer
