doctype html
html
  head
    include includes/head
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//cdn.optimizely.com/js/210578001.js")
    script PLEDGE_URL = '//' + window.location.host;
    script(src="/static/pledge.js")
  body#pledge
    include includes/header
    script(src="https://checkout.stripe.com/checkout.js")
    .container
      div#formError.row.alert.alert-danger(style="display:none")
      #content.row
        .col-md-12
          h2 We are running an all or nothing campaign.
          form(role="form", method="POST", action="javascript:return false;")
            .form-group.col-sm-6
              label.control-label Email
              input.form-control.input-lg(type="email", required,
                placeholder="smith@example.com", id="email_input")
            .form-group.col-sm-6
              label.control-label Phone Number <span class="label label-default">Optional</span>
              input.form-control.input-lg(type="tel",
                placeholder="(212) 867-5309", id="phone_input")

            .form-group.col-sm-6
              label.control-label Occupation
              input.form-control.input-lg(type="text", required,
                placeholder="Gardener, Railroad Worker, etc",
                id="occupation_input")
            .form-group.col-sm-6
              label.control-label Employer
              input.form-control.input-lg(type="text", required,
                placeholder="Nintendo, UPS, Self, etc",
                id="employer_input")

            .form-group.col-sm-6
              label.control-label Who to Fund?
              select.form-control.input-lg(id="targeting_input")
                option Whatever Helps
                option Democrats Only
                option Republicans Only
            .form-group.col-sm-6
              label.control-label How Much to Fund?
              .input-group.input-group-lg
                span.input-group-addon $
                input.form-control(type="number", required, min="1",
                  id="amount_input")
            .form-group.col-sm-12
              .checkbox
              .checkbox
                label <input type="checkbox" id="emailSignupInput" checked> Want to know how we're using the money? Sign up for emails from us.             
            .form-group.col-sm-12
              button.form-control.input-lg.btn.btn-lg.btn-danger#pledgeButton
                .spinner(style="display:none;")
                span.pledgeText Pledge
            p.
              If you wish to <a
              href="https://mayday.us/faq/#is-there-a-physical-mailing-address-that-i-can-send-a-check-to-i-dont-give-money-over-the-internet">donate by
              check</a>, we have instructions on the <a
              href="https://mayday.us/faq/#is-there-a-physical-mailing-address-that-i-can-send-a-check-to-i-dont-give-money-over-the-internet">FAQ page</a>.

            p#paypalArea.
              We now also accept PayPal for non-refundable donations:<br/>
              <a href="javascript:;" id='paypalButton'><img alt="Pledge with Paypal" src="/static/paypal.png"/></a>


      #rules.well.row
        h2 Contribution Rules:

        p In order to contribute, all of the following statements must be true:
        ul
          li I am a United States citizen or a permanent resident alien.
          li This contribution is made from my own funds, and funds are not being provided to me by another person or entity for the purpose of making this contribution.
          li I am making this contribution with my own personal credit card and not with a corporate or business credit card or a card issued to another person.
          li I am at least eighteen years old.
          li I am not a foreign national (permanent resident aliens excepted), federal contractor, national bank, or corporation chartered by an act of Congress
        p MayDay PAC must use its best efforts to obtain and report the name, address, occupation, and employer of individual contributors.
        p Contributions are not tax deductible.
        p <a href="//mayday.us/privacy-policy">Our Privacy Policy</a>
      .row.spacing
    include includes/footer
