doctype html
html
  head
    include includes/head
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
    script.
      var myApp = angular.module('mayOne',[]);

      myApp.controller('PledgeController',
                       ['$scope', '$http', function($scope, $http) {
        $scope.ctrl = {
          amount: 15,
          occupation: '',
          employer: '',
          error: '',
          cents: function() {
            return Math.floor($scope.ctrl.amount * 100);
          },
          pledge: function() {
            var cents = $scope.ctrl.cents();
            stripeHandler.open({
              name: 'MayOne.US',
              description: 'Pledging $' + (cents / 100),
              amount: cents,
            });
          },
          onTokenRecv: function(token, args) {
            console.log(token);
            $http.get('/pledge.do', {
              params: {
                email: token.email,
                occupation: $scope.ctrl.occupation,
                employer: $scope.ctrl.employer,
                token: token.id,
                amount: $scope.ctrl.cents(),

              }
            }).success(function() {
              location.href = '/thankyou';
            }).error(function() {
              $scope.ctrl.error =
                'Oops, something went wrong. Try again in a few minutes';
            })
          },
        };
        window.mayOneController = $scope.ctrl;
      }]);

  body#pledge(ng-app="mayOne", ng-controller="PledgeController")
    include includes/header
    script(src="https://checkout.stripe.com/checkout.js")
    script.
      window.stripeHandler = StripeCheckout.configure({
        key: 'pk_test_dyZCnQ7cB97ouDFyclAOWOXK',
        billingAddress: true,
        image: '/static/flag.jpg',
        token: function(token, args) {
          window.mayOneController.onTokenRecv(token, args);
        }
      });

    .container
      .page-header
        h1 Pledge Your Support
      .butterbar.row(ng-show="ctrl.error")
        .alert.alert-danger {{ctrl.error}}
      #content.row
        form(ng-submit="ctrl.pledge()").col-md-8
          label Occupation
          .input-group.input-group-lg
            input.form-control(type="text", required,
              placeholder="Gardner, Railroad Worker, etc",
              name="occupation",
              ng-model="ctrl.occupation")

          label Employer
          .input-group.input-group-lg
            input.form-control(type="text", required,
              placeholder="Nintendo, UPS, Self, etc"
              name="employer",
              ng-model="ctrl.employer")

          label Amount
          .input-group.input-group-lg
            span.input-group-addon $
            input.form-control(type="number", min="1", ng-model="ctrl.amount")
            span.input-group-btn
              button.btn.btn-default(type="submit") Pledge


        #rules.col-md-4
          h2 Contribution Rules:

          p In order to contribute, all of the following statements must be true:
          ul
            li I am a United States citizen or a permanent resident alien.
            li This contribution is made from my own funds, and funds are not being provided to me by another person or entity for the purpose of making this contribution.
            li I am making this contribution with my own personal credit card and not with a corporate or business credit card or a card issued to another person.
            li I am at least eighteen years old.
            li I am not a foreign national, federal contractor, national bank, or corporation chartered by an act of Congress
          p MayDay PAC must use its best efforts to obtain and report the name, address, occupation, and employer of individual contributors.
          p Contributions are not tax deductible.
          p <a href="/privacy">Our Privacy Policy</a>
      .row.spacing
    include includes/footer
